@font-face {
  font-family: 'Flatform Light';
  src: url('../font/Flatform_Light.woff');
}
@font-face {
  font-family: 'semibold';
  src: url('../font/semibold.ttf');
}
@font-face {
  font-family: 'opensansbold';
  src: url('../font/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'opensansbolditalic';
  src: url('../font/OpenSans-BoldItalic.ttf');
}

$gray: #717171;
$fly: #F7F7F7;
$brand: #D2D1D1;
$join__link: #525252;
$all__color: #4D4D4D;
$foot__link: #8C8C8C;
$foot__li: #EBEBEB;

@mixin link {
  display: inline-block;
  width: 215px;
  padding: 5px 0;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.49);
  text-transform: uppercase;
  font-family: 'semibold';
  font-size: 13px;
  color: white;
  transition: 0.2s;
  &:hover {
    background: rgba(30, 48, 76, 0.78);
    box-shadow: 0 0 5px black;
    text-shadow: 0 0 5px #a0a0a0;
  }
}

@mixin arrow {
  content: '';
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/arrow_foot.png") no-repeat center center;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  background: #D8D8D8;
  color: #4D4D4D;
  font: 14px 'Nunito Sans', sans-serif;;
}

.header,
.content,
.folder {
  margin: 0 auto;
  max-width: 960px;
  min-width: 315px;
}

.header:after,
.footer:after,
.folder:after,
.nav:after,
.nav__list:after {
  content: '';
  display: table;
  clear: both;
}

.h3,
.h4 {
  font: 1.2em 'opensansbold';
  text-transform: uppercase;
}

.h4 {
  font: 1em 'opensansbold';
}

.h5 {
  font-size: 1em;
  color: white;
}

.header {
  width: 100%;
  &__h1 {
    font: 3em 'Flatform Light';
    float: left;
  }
}

.nav {
  float: left;
  &__item {
    float: left;
    padding: 5px 5px;
  }
  &__link {
    font-size: 1.1em;
    color: $all__color;
    &:hover {
      border-bottom: 1px solid $all__color;
    }
    &:active {
      background: black;
      border-radius: 5px;
    }
  }
}

.start {
  background: url('../img/background-s.png') no-repeat 100% 100%;
  background-size: cover;
  padding: 0 30px 30px;
  &__h2 {
    font: 2em 'Josefin Sans';
    padding: 70px 0 30px;
  }
  &__p {
    padding: 0 0 10px;
  }
}

.start__link {
  @include link;
  position: relative;
}

.arrow_start:after {
  @include arrow;
  right: 45px;
  background: url("../img/arrow_start.png") no-repeat center center;
}

.services {
  margin: 15px 0;
  &__block {
    display: inline-block;
    width: 250px;
  }
  &__sprite {
    display: inline-block;
    width: 85px;
    height: 80px;
    background: url(../img/sprite.png) no-repeat 6px -5px;
  }
}

.clock {background-position: -77px -5px;}
.photo {background-position: -173px -5px;}

.video {
  p {
    width: 55%;
    margin: 0 auto;
  }
}

.player {
  width: 100%;
  max-width: 550px;
  margin: 20px 0;
}

.recent__block {
  display: inline-block;
  width: 175px;
  height: 145px;
  margin: 5px 8px;
  background: $fly;
  p {
    font: 1em 'opensansbolditalic';
    padding: 55px 0 0;
    color: $brand;
    line-height: 10px;
  }
  span {
    font-size: 10px;
  }
}

.join {
  margin: 5px 0;
  padding: 10px 5px;
  background: $fly;
  color: $gray;
  .h3 {
    color: $gray;
  }
  &__link {
    @include link;
    background: $fly;
    border: 1px solid $join__link;
    color: $join__link;
    &:hover {
      color: white;
    }
  }
}

.social {
  padding: 10px 0;
}

.social__link {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #4D4D4D;
  background: url("../img/spritesheet.png") no-repeat 0 0;
  &:hover {
    background: #55ACEE url("../img/spritesheet.png") no-repeat -1px -50px;
  }
  &:active {
    background: #55ACEE url("../img/spritesheet.png") no-repeat -1px -99px;
  }
}

.tw {
  background-position: -149px 0;
  &:hover {
    background: #55ACEE url("../img/spritesheet.png") no-repeat -149px -49px;
  }
  &:active {
    background: url("../img/spritesheet.png") no-repeat -149px -99px;
  }
}

.pn {
  background-position: -51px 0;
  &:hover {
    background: #55ACEE url("../img/spritesheet.png") no-repeat -51px -49px;
  }
  &:active {
    background: url("../img/spritesheet.png") no-repeat -51px -99px;
  }
}

.gg {
  background-position: -101px 0;
  &:hover {
    background: #55ACEE url("../img/spritesheet.png") no-repeat -101px -49px;
  }
  &:active {
    background: url("../img/spritesheet.png") no-repeat -101px -99px;
  }
}

.footer {
  width: 100%;
  background: #3B3B3B;
  font-size: 14px;
  color: $foot__li;
  &__section {
    padding: 5px 0;
  }
  &__link {
    position: relative;
    text-decoration: underline;
    color: $foot__link;
  }
}

.arrow_foot:after {
  @include arrow;
}

@media all and (min-width: 460px) {

  body {
    background: white;
  }

  .h3,
  .h4 {
    color: $all__color;
  }

  .nav {
    margin-top: 20px;
    float: right;
  }

  .start {
    &__h2 {
      font-size: 2.5em;
    }
    &__link {
      font-size: 14px;
    }
  }

  .start {
    background: url("../img/background-m.png") no-repeat fixed 55% -25%;
    padding: 0 30px 90px;
    &__h2 {
      padding: 70px 0 10px;
    }
  }

  .social__link {
    margin: 0 10px;
  }
  .footer {
    padding: 0 5px;
    &__section {
      width: 200px;
      float: left;
      text-align: left;
    }
  }

}

@media all and (min-width: 800px) {

  .start {
    background: url("../img/background-l.png") no-repeat fixed 0 0;
    background-size: contain;
    &__h2 {
      font-size: 3em;
    }
  }

  .recent div:nth-child(2) { margin-left: 0; }
  .recent div:nth-child(5) { margin-right: 0; }
}

@media all and (min-width: 960px) {

  .start {
    background-position: 0 -4%;
    &__h2 {
      font-size: 3.5em;
      padding: 98px 0 30px;
    }
  }

}